PORT=3002
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
CONTRACT_ID=REPLACE_WITH_DEPLOYED_CONTRACT_ID
SERVICE_ACCOUNT_SECRET=REPLACE_WITH_TESTNET_SECRET_KEY
